@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    .home__description--button {
        max-width: 240px;
    }

    .section__description {
        flex-direction: column;
        width: 100%;
    }

    .section__description--wrapper {
        flex-direction: column;
        width: 100%;
    }

    #discord .section__description{
        flex-direction: column-reverse;
    }

    footer {
        padding: 48px 28px;
    }

    .footer__logo {
        max-width: 360px;
    }

    .footer__link {
        padding: 0 8px;
        font-size: 18px;
    }
    .footer__links {
        margin-bottom: 24px;
    }
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

section {
    display: block;
}


/* 
Navigation bar
*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(202, 253, 255);
    padding: 0px 16px;
}

/* Logo */
.logo {
    width: 300px;
}

/* Navigation tools */
ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

a {
    color: black;
    font-weight: bold;
    font-size: 24px;
}


/* 
Header
*/

header {
    background-color: rgb(234, 220, 255);
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

/* Material */
.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page Image */

.home__img {
    width: 80%;
}


/* Home Description*/

.home__img--wrapper {
    display: flex;
    justify-content: center;
}

.home__description,
.home__img--wrapper {
    width: 50%;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0px 24px 0;
}

p {
    line-height: 1.5;
}

button {
    background-color: rgb(5, 199, 207);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

#about,
#discord,
#contact,
#footer {
    padding: 48px 0;
}

/* 
About
*/

/* Title */

#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about__img--wrapper {
    width: 40%;
}

img {
    width: 100%;
    border-radius: 4px;
}

.section__descripton--wrapper {
    width: 60%;
}

.section__description--wrapper {
    width: 60%;
}


.section__description--wrapper,
.about__img--wrapper {
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    margin-bottom: 24px;
}

/* 

Discord

*/

#discord {
    background-color: #CEFEFF;
}


/* 

Contact

*/



#contact {
    background-color: #DCE9FF;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

input,
textarea {
    font-size: 20px;
    margin-bottom: 24px;
    padding: 6px 12px;
}

input {
    height: 40px;
}

/* 

Footer

*/

footer {
    background-color: #AAF5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 24px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}